[submodule "ThirdParty/Maxima"]
	path = ThirdParty/Maxima
	url = https://github.com/simonlinuxcraft/Maxima.git
	branch = linux-port-launcher
[submodule "CLI/ThirdParty/Maxima"]
	path = CLI/ThirdParty/Maxima
	url = https://github.com/simonlinuxcraft/Maxima.git
	branch = linux-port-patches
